@model List<GlobalCityManager.Models.Country>

    <div class="text-center">
        <h1 class="display-4">Countries list:</h1>
        @Html.ActionLink("Add Country", "Create")
        <table border="1">
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Region</th>
                <th>National Flag</th>
                <th>Detail</th>
            </tr>
            @foreach (var t in Model)
            {
                <tr>
                    <td>@t.Code</td>
                    <td>@t.Name</td>
                    <td>@t.Region</td>
                    <td><img src="@t.NationalFlag" /></td>
                    <td>@Html.ActionLink("Show Details", "Detail", new { code = t.Code })</td>
                </tr>
            }
        </table>
    </div>