<html>
    <head>
        <title>@ViewData["Title"]</title>
    </head>
    <body>
        <h1>@ViewData["Header"]</h1>
        <ul>
            <span>@ViewBag.product.Name</span>            
        </ul>
        <ul>
            <span>@ViewBag.product.ID</span>
        </ul>
        <ul>
            <span>@ViewBag.product.Price</span>
        </ul>
    </body>
</html>