@model TestPostman.Models.Game
<html>
    <body>
        <h2>TestPostman</h2>
        <h1>@Model.City.ToString()</h1>
        <h1>@Model.Player1.Name.ToString()</h1>
        <h1>@Model.Player1.Rank.ToString()</h1>
        <h1>@Model.Player2.Name.ToString()</h1>
        <h1>@Model.Player2.Rank.ToString()</h1>
    </body>
</html>